.friendList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.friendListItem {
  /* width: calc((100% - 40px) / 5); */
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
